<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>154293243629-2ir8dffcl3h261pmkireh8tkp1nq2srg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.154293243629-2ir8dffcl3h261pmkireh8tkp1nq2srg</string>
	<key>API_KEY</key>
	<string>AIzaSyCVSqeBujhGgvx41nB6Hq5ZP3EjxLcIYPI</string>
	<key>GCM_SENDER_ID</key>
	<string>154293243629</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wndr</string>
	<key>PROJECT_ID</key>
	<string>wndr-c2591</string>
	<key>STORAGE_BUCKET</key>
	<string>wndr-c2591.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:154293243629:ios:85152eefe97752e21586e4</string>
</dict>
</plist>